<div>
  <style ng-repeat="tag in tags">
    .tag-{{tag.name | dasherize}} { background-color: {{tag.color}}; color: {{tag.contrastColor}}; }
  </style>
  <p>
    {{info.total}} items to read.
    <span class="stats">
      <ins>+{{info.addedToday}}</ins>/<del>-{{info.deletedToday}}</del> today,
      <ins>+{{info.addedThisWeek}}</ins>/<del>-{{info.deletedThisWeek}}</del> week.
    </span>
    <a href ng-click="chooseRandom()">Choose one for me</a>.
  </p>
  <p class="all-tags">
    <a href ng-repeat="tag in tags" ng-click="toggleTag(tag.id)" class="label tag-{{tag.name | dasherize}}" ng-class="{faded: tagFilter && tagFilter != tag.id}">{{tag.name}}</a>
  </p>
  <controls></controls>
  <ul class="entries">
    <li ng-repeat="item in entries" ng-class="{highlight: item.highlighted}">
      <input type="checkbox" name="id[]" checklist-model="selectedItems" value="{{item.id}}" checklist-value="item.id" ng-disabled="actionInProgress">
      <a ng-href="{{item.link}}" ng-class="{strike: item.deleted}" target="_blank">{{item.title}}</a>
      <a ng-if="item.hasSnapshot" href="toreadsnapshot.php?id={{item.id}}" class="snapshot" target="_blank" title="View snapshot"><span class="glyphicon glyphicon-sunglasses" aria-label="View snapshot"></span></a>
      <span class="date">
        {{moment(item.time).format("M/D/YY")}}
      </span>
      <span class="tags">
        <span class="label tag-{{tag | dasherize}}" ng-repeat="tag in item.tags">{{tag}}</span>
      </span>
      <p class="description" ng-if="item.description">{{item.description}}</p>
    </li>
  </ul>
  <controls></controls>
</div>
